<!DOCTYPE html>
<html>
  <head>
    <title>Vicky Try flask</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
    <h1 class="text-center mt-2 mb-4">Vicky Prayudha</h1>
    <img class="img-fluid"id="banner" src="https://26025ddc-b482-45fc-93e9-41172a9cd945-00-2r7tl5fkrp3y7.sisko.replit.dev/static/banner.jpeg">
    <h2 class="text-center">Tentang Vicky</h2>
    <p class="lead">Saya adalah orang yang baru mempelajari flask untuk membuat web , ya gitu lah.
    Belajar python full eeehh ternyata harus belajar HTML dan CSS dan lain lain hmm</p>
    <h2 class="text-center mt-2 mb-4">Vicky {{company_name}} Job</h2>
      <div>
      {% for job in jobs %}
        {% include 'jobitem.html' %}
      {% endfor %}
      </div>
    <div class="text-center">
    <button class="btn btn-outline-success">Kontak</button>
        <p class="mt-4">Copyright 2k24, freeCodeCamp.org</p>
    </div>
    </div>
  </body>
</html>